//Montserrat
@font-face {
    font-family: 'Mon';
    src: url(../src/fonts/Monstrat/Mon.ttf);
    font-weight:700;
}

// circ
@font-face {
    font-family: 'Circle';
    src: url(../src/fonts/Circle/circe.ttf);
    font-weight: 400;
}


